@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
:root{
    --primary-color: #9CA3AF;
    --darkgrey-color:#374151;
    --offwhite-color:#F3F4F6;
}

body{
    font-family: 'Open Sans', serif;
    margin: 0px;
}
hr{
    margin: 2rem 0rem;
}
/**Container not working **/
.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}
/**Links **/
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;

}
.link-primary{
   background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}
.link-secondary{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border:1px solid var(--primary-color);
}

.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}

/**navigation **/
.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}
.navigation .nav-pills{
    text-align: right;
    font-size: 18px;
} 
.navigation .link{
    color: white;
}
.navigation .nav-brand{
    font-weight: bold;
    font-size: 1.1rem;
}
.navigation .link-active{
    font-weight: bold;
}

/**HEADER**/

.hero {
    
    padding: 2rem;
    padding-top: 5rem;

}

.hero .hero-img {
    max-width: 80%;
    width: 450px;
    display: block;
    margin: auto;
}
.hero .hero-heading{
    font-size: 2rem;
    padding-top: 1rem;
    color: var(--darkgrey-color);
    text-align: center;
}
.hero .heading-inverted{
    color: var(--primary-color);
}

/** Section**/

.section{
    padding: 2rem;
}

.section h1{
    text-align: center;
   
}
.ow{
    background-color: var(--offwhite-color);
}

/**footer**/
.footer{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}
.footer .link{
    color: white;
}
.footer .footer-header{
    font-weight: bold;
    font-size: large;
}
.footer ul{
    padding-inline-start: 0px;
}


/* project-section */
.project-container{
    width: 90%;
    max-width: 800px;
    margin: auto;
}

.project-section{
    margin: 2rem 0rem;
}

.project-div{
    box-sizing: border-box;
    background-color: var(--offwhite-color);
    padding: 1rem;
    border-radius: 10px;
}
.project-div p{
    margin-top: 0.5rem;
}

.project-section h1{
    margin-bottom: 0.2rem;
}

.project-section p{
    text-align: justify;
}

.icon{
    font-size: 35px;
}